<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- local CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <title>Suicide rates analysis</title>
 
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a class="navbar-brand" href="/">Suicide Analysis Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="gender">Suicides By Gender</a>
                <a class="dropdown-item" href="#figure2">Suicides By Country</a>
                <a class="dropdown-item" href="#figure3">Yearly Suicide Rates</a>
                <a class="dropdown-item" href="#figure4">Suicides By Age</a>
                <a class="dropdown-item" href="gdp_scatter">Suicides vs GDP</a>
                <a class="dropdown-item" href="hdi_scatter">Suicides vs HDI</a>
            </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="data.html">Map</a>
            </li>
            
        </ul>
    </div>
  </nav>
  
  

  <div class="container">
    <h3> Visualizations </h3>
    <hr>
    <div class="row">
      <div class="col-6">
        <div id="scatter_gdp"></div>
      </div>
      <div class="col-6">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id = "gdp_and_suicides_multiaxes"></div>
      </div>
    </div>
  </div>
  

  <div class="bottom-container" id = "figures">
    <div class="row">
      <div class="col-2" id="figure1">
        <a href ="gender">
          <img src="{{ url_for('static', filename='images/suicides_by_gender.png') }}" alt="cable img" class="img-fluid">
        </a>
      </div>
      <div class="col-2" id="figure2">
        <a href ="hdi_scatter">
          <img src="{{ url_for('static', filename='images/suicides_vs_hdi.png') }}" alt="cable img" class="img-fluid">
        </a>
      </div>
      <div class="col-2" id="figure3">
        <a href ="">
          <img src="{{ url_for('static', filename='images/top_ten_countries.png') }}" alt="cable img" class="img-fluid">
        </a>
      </div>
      <div class="col-2" id="figure4">
        <a href ="">
          <img src="{{ url_for('static', filename='images/suicides_by_year.png') }}" alt="cable img" class="img-fluid">
        </a>
      </div>
      <div class="col-2" id="figure5">
        <a href ="">
          <img src="{{ url_for('static', filename='images/suicides_by_age.png') }}" alt="cable img" class="img-fluid">
        </a>
      </div>
      <div class="col-2" id="gdp_scatter">
        <a href ="">
          <img src="{{ url_for('static', filename='images/suicide_vs_gdp.png') }}" alt="cable img" class="img-fluid" style="border: 1px solid blue;">
        </a>
      </div>
    </div>
  </div>
  <!-- <script src="static/d3.js"></script> -->
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" 
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <!-- D3.js CDN -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!--Plotly JS-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="../static/js/gdp_d3.js"></script>
</body>
</html>
